<div class="ui segment" id="chart"></div>
<script>
  window.onload = tempChart();
  function tempChart() {
    const data = {
      labels: [
        {{#each station.readings}}
          "{{moment date format="DD MMMM YYYY"}}",
        {{/each}}
      ],
      datasets: [
        {
          name: "Temperature", type: "line",
          values: [
            {{#each station.readings}}
              {{temperature}},
            {{/each}}
          ]
        }
      ]
    };
    const chart = new frappe.Chart("#chart", {
      title: "Temperature Trend",
      data: data,
      type: "line",
      height: 250,
      colors: ["#6ba8e7", "#ef6f5e"]
    });
  }

  function windChart() {
    const data = {
      labels: [
        {{#each station.readings}}
          "{{moment date format="DD MMMM YYYY"}}",
        {{/each}}
      ],
      datasets: [
        {
          name: "Wind Speed", type: "line",
          values: [
            {{#each station.readings}}
              {{windSpeed}},
            {{/each}}
          ]
        }
      ]
    };
    const chart = new frappe.Chart("#chart", {
      title: "Wind Trend",
      data: data,
      type: "line",
      height: 250,
      colors: ["#6ba8e7", "#ef6f5e"]
    });
  }
</script>
<button onclick="tempChart()" class="ui tiny blue button">>Temp Chart</button>
<button onclick="windChart()" class="ui tiny blue button">>Wind Chart</button>
</div>