<div class="ui inverted center aligned vertical footer segment" id="footer-segment">
  <div class="ui container">
    <h4 class="ui header">Connect with us on social</h4>
    <button class="ui circular facebook icon button">
      <i class="facebook icon"></i>
    </button>
    <button class="ui circular twitter icon button">
      <i class="twitter icon"></i>
    </button>
    <button class="ui circular linkedin icon button">
      <i class="linkedin icon"></i>
    </button>
    <button class="ui circular google plus icon button">
      <i class="google plus icon"></i>
    </button>
    <h4 class="ui header"> &copy;WeatherTop 2021</h4>
  </div>
</div>
</div>