<form action="{{station.id}}/generateReading" method="POST">
  <input type="hidden" id="lat" name="lat" value="{{station.latitude}}">
  <input type="hidden" id="lng" name="lng" value="{{station.longitude}}">
  <button class="ui red submit button">
    Auto Generate Reading
  </button>
</form>