<nav class="ui text menu">
  <header class="item"> <a href="/" class="menu-header"> WeatherTop </a><i class="blue tint icon"></i></header>  <div class="right menu">
    <a id="dashboard" class="item" href="/dashboard"> Dashboard  </a>
    <a id="about" class="item" href="/about"> About </a>
    <a id="account" class="item" href="/account"> Account </a>
    <a id="logout" class="item" href="/logout"> Logout </a>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>
