<div class="ui five inverted stackable cards">
    <div class="card">
        <div class="content">
            <i class="right floated big teal map marker icon"></i>
            <div class="header"> {{name}} </div>
            <div class="description"> Lat: 00 </div>
            <div class="description"> Long: 00 </div>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <div class="header">Weather</div>
            <div class="description"> Enter conditions </div>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <i class="right floated big blue temperature low icon"></i>
            <div class="header">Temp</div>
            <div class="description"> {{readings.temperature}}C</div>
            <div class="description"> {{readings.tempF}}F</div>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <i class="right floated big green wind icon"></i>
            <div class="header">Wind</div>
            <div class="description">${_station.beaufort}bft</div>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <i class="right floated angle large red double up icon"></i>
            <div class="header">Pressure</div>
          <div class="description"> {{pressure}} </div>
        </div>
    </div>
</div>