{{> menu id="dashboard"}}

{{#each stations}}
  <section class="ui segment">
    <h2 class="ui header">
      {{name}}
    </h2>
    <a href='/station/{{id}}' class="ui icon button">
      <i class="icon blue folder open"></i> 
    </a>
    <a href='/dashboard/deletestation/{{id}}' class='ui icon button'>
      <i class="icon red trash"></i>
    </a>
</section>
{{/each}}
{{> addstation}}