{{> menu}}

<section class="ui segment">
  <h2 class="ui header">
    {{station.name}}
  </h2>
  {{> stationsummary station}}
  {{> listreadings}}
  {{> addreading}}
  {{> generatereading}}
  {{> charts}}
</section>