{{> menu id='account' }}

<section class="ui center aligned middle aligned segment">
  <div class="ui attached info message">
    <div class="header">
      Your account is always secure
    </div>
    <p>Please re-enter your email address to authenticate your account</p>
  </div>
  <form class="ui form attached fluid segment" action="/account/details" method="POST">
    <div class="field">
      <label>Email Address</label>
      <input placeholder="Email" type="email" name="email">
    </div>
    <button class="ui blue submit button"> Authenticate </button>
  </form>
</section>